/*CSS file*/

body {
    background-color: midnightblue;
    color: lightblue;
    font-family: "Georgia", "Times New Roman", serif;
    padding: 15px 40px 35px 40px;

}


h1, h2 {
    font-weight: 500;
    font-size: 38px;
    color: cornflowerblue;
    font-family: "Times New Roman", serif;
}

h1 {
    font-family: "Bitcount Single", "Times New Roman", serif;
    text-transform: uppercase;
}
/* Navigation styles*/
.navigation {
    color: steelblue;
}



#About {
    text-align: center;
}
/*Experience section styles*/
#Experience {
    margin-top: 40px;
}

.experience-item {
    margin-bottom: 30px;
    padding: 15px;
    border-left: 3px solid cornflowerblue;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title {
    font-weight: bold;
    font-size: 22px;
}

.experience-dates {
    font-size: 18px;
    font-style: italic;
}

.experience-description {
    margin-top: 10px;
    line-height: 1.5;
}

/*Connect section styles*/
#Connect {
    margin-top: 40px;

}

.connect-links {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
    padding: 15px;
    border-left: 3px solid cornflowerblue;
}

.connect-links a {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}

.connect-links a:hover {
    text-decoration: underline;
}