/*CSS file*/

/*=======Desktop first/laptop Styles===========*/

body {
    background-color: midnightblue;
    color: lightblue;
    font-family: "Georgia", "Times New Roman", serif;
    padding: 15px 40px 35px 40px;

}


h1, h2 {
    font-weight: 500;
    font-size: 38px;
    color: cornflowerblue;
    font-family: "Times New Roman", serif;
}

h1 {
    font-family: "Bitcount Single", "Times New Roman", serif;
    text-transform: uppercase;
}

/* Navigation styles*/
.navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin:0;
}

.navigation a {
    color: steelblue;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 20px;

}

.navigation a:hover{
    text-decoration: underline;
}

/*About Sesction Styles*/
#about {
    text-align: center;
}

/*Experience section styles*/
#experience {
    margin-top: 40px;
}

.experience-item {
    margin-bottom: 30px;
    padding: 15px;
    border-left: 3px solid cornflowerblue;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title {
    font-weight: bold;
    font-size: 22px;
}

.experience-dates {
    font-size: 18px;
    font-style: italic;
}

.experience-description {
    margin-top: 10px;
    line-height: 1.5;
}

/*Skills section styles*/
#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    list-style: none;
}

#skills li {
    background-color: royalblue;
    padding: 10px;
    border-radius: 5px;
}

/*Connect section styles*/
#connect {
    margin-top: 40px;

}

.connect-links {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
    padding: 15px;
    border-left: 3px solid cornflowerblue;
}

.connect-links a {
    color: slateblue;
    text-decoration: none;
    font-weight: bold;
}

.connect-links a:hover {
    text-decoration: underline;
}

/*Leave a Message/Messages section styles*/
#leave-message form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    font-size: 22px;
    
}

#leave-message input,
#leave-message textarea {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: royalblue;
}

#leave-message textarea {
    min-height: 100px;
    resize: vertical;
}

#leave-message button {
    width: 150px;
    padding: 10px;
    background-color: royalblue;
    color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}



/*============Tablet Styles==========*/
@media (max-width: 1024px) {
    h1, h2 {
        font-size: 32px;
        color: darkorchid;
    }

    h1 {
        font-size: 34px;
        color: blueviolet;
    }

    .navigation a {
    color: darkorchid;
    }

    body {
        background-color: navy;
        color: mediumslateblue;
        padding: 20px;
    }
    /*skills*/
    #skills ul {
        gap: 15px;
        justify-content: flex-start;
    }

    #skills li {
        padding: 8px;
        font-size: 20px;
        background-color: midnightblue;
    }

    /*Leave a Message/Messages*/
    #leave-message form {
        max-width: 600px;
        gap: 14px;
        font-size: 20px;
    }

    #leave-message input,
    #leave-message textarea {
        padding: 8px;
        font-size: 20px;
        color: indigo;
        background-color: mediumslateblue;
    }

    #leave-message button {
        width: 150px;
        padding: 10px;
        font-size: 22px;
        background-color: darkorchid;
        color: indigo;
    }
}



/*=========Mobile Styles============*/
@media (max-width: 480px) {

    h1, h2 {
        font-size: 30px;
        color: palegreen;
        text-align: center;
    }


    h1 {
        font-size: 30px;
        color: lime;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .navigation a {
        padding: 8px 15px;
        background-color: darkblue;
        color: palegreen;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
    }

    .experience-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-item {
        padding: 10px;
        margin-bottom: 20px;
    }

    .connect-links {
        flex-direction: column;
        gap: 15px;
    }

    body {
        background-color: mediumblue;
        color: lightseagreen;
    }
    /*skills*/
    #skills ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    #skills li {
        width: 70%;
        text-align: center;
        padding: 8px;
        font-size: 18px;
        background-color: darkblue;
    }
    /*Leave a Message/Message*/
    #leave-message form {
        max-width: 100%;
        font-size: 18px;
    }

    #leave-message input,
    #leave-message textarea {
        font-size: 18px;
        padding: 12px;
        background-color: aquamarine;
        color: darkblue;
    }

    #leave-message button {
        width: 100%;
        padding: 12px;
        font-size: 20px;
        color: limegreen;
        background-color: darkblue;
    }
}

